.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--bg);
}

.header {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px 100px;
  border-bottom: 1px solid #2a2f3a;
}

.main {
  flex: 1;
  min-height: 0;
}
